<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <h1>Stylist Page: <%= @stylist.name() %></h1>
      <hr>
      <h1><%= @stylist.name() %>'s' Clients</h1>
        <% if @stylist.clients().any?() %>
          <h3>Name</h3>
          <ul>
            <% @stylist.clients().each() do |client| %>
            <li><%= client.name() %></li>
            <% end %>
          </ul>
        <% else %>
          <p>There are no clients for this stylist.</p>
        <% end %>
      <hr>
      <h4>Add a client for <%= @stylist.name() %></h4>
       <form action="/stylists/<%=@stylist.id() %>" method="post">
         <input id="stylist_id" name="stylist_id" type="hidden" value="<%= @stylist.id() %>">
         <label for="stylist_client">Client Name</label>
         <input id="stylist_client" name="stylist_client" type="text">
         <button type="submit">Add Client</button>
       </form>
      <br>
      <hr>
      <a href="/">Home</a>
    </div>
  </div>
</div>
